@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito&family=Open+Sans&family=Playfair+Display:wght@500&family=Poppins&family=Roboto&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* common class */
.container{
    max-width: 1400px;
    margin: 20px auto;
}

/* navbar starts */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar .nav-left{
    margin-left: 30px;
}
.navbar .nav-right ul{
    display: flex;
    
}
.navbar .nav-right ul li{
    list-style: none;
    margin: 0 10px;
}
.navbar .nav-right ul li a, .navbar .nav-right ul li i{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 5px;
}


/* top div starts */
.top{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.top .top-left{
    max-width: 725px;
    margin: 0 0 0 20px;
}
.top .top-left h1{
    font-size: 50px;
    margin: 15px 0;
    font-weight: 900;
}
.top .top-left p{
    font-size: 25px;
}
.top .top-left a{
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 60px;
    margin: 20px 0;
    color: white;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
}
.top .top-left a .fas{
    margin-left: 10px;
}
.top .top-right{
    width: 500px;
    height: 460px;
}
.top .top-right img{
    width: 500px;
    height: 450px;
}

 
.company-icon{
    max-width: 1100px;
    margin: 0 auto;
}
.company-icon .icn{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 60px 0;
    justify-content: center;
    text-align: center;
}


.txt{
    text-align: center;
    margin:150px 0 40px 0;
}

/* card starts */
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.cards .card-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards .card-inside .card{
    width: 330px;
    box-shadow: 0 0 20px 10px rgb(223, 223, 223);
    margin: 30px 0;
    border-radius: 8px;
}
.cards .card-inside .card .card-img{
    text-align: center;
    margin: 15px;
}
.cards .card-inside .card .card-details{
    margin: 15px;
}
.cards .card-inside .card .card-details h2{
    font-size: 30px;
    font-weight: 500;
}
.cards .card-inside .card .card-details h3{
    font-weight: 200;
    font-size: 20px;
}
.cards .card-inside .card .card-details h3 small{
    color: rgb(148, 3, 3);
    font-size: 15px;
}
.cards .card-inside .card .card-details .fas{
    color: rgb(230, 137, 17);
}

.see-more{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    max-width: 1330px;
}
.see-more a{
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin: 0 0 30px 0;
}


/* footer */

.footer{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    flex-direction: column;
}
.footer .copyright{
}
.footer .copyright h3{
    color: white;
    text-align: center;
}
.footer .copyright p{
    color: white;
    text-align: center;
}
.footer .social-icon{
    display: flex;
    margin: 10px 0;
}
.footer .social-icon .icon{
    margin: 10px;
}
.footer .social-icon .icon a .fab{
    color: white;
    background: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 18px;
}



.contact-form{
display: flex;
justify-content: space-around;
margin: 50px 0;
}
.contact-form .form-img{
    width: 600px;
    height: 407px;
}
.contact-form .form-img img{
    width: 600px;
    height: 407px;
}
.contact-form .form-input{
    padding: 26px 0;
    border-radius: 11px;
    box-shadow: 0 0 30px 0px rgb(197, 197, 197);
}
.contact-form .form-input .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0 20px;
}

.contact-form .form-input .form input{
    width: 550px;
    height: 40px;
    margin: 20px 0;
    padding-left: 20px;
    font-size: 17px;
    outline: none;
    border: 1px solid black;
    border-radius: 20px;
}
.contact-form .form-input .form button{
    width: 250px;
    height: 40px;
    margin: 20px 0;
    font-size: 17px;
    outline: none;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 700;
    transition: 0.3s;
}
.contact-form .form-input .form button:hover{
    background: #000;
    color: white;
}

/* media query starts */
@media (max-width: 1250px) {
    .contact-form{
        flex-direction: column;
        align-items: center;
    }
    .contact-form .form-img{
        margin: 50px 0;
    }
}
@media (max-width: 1100px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
    }
    
}
@media (max-width: 870px) {
    .top{
        flex-direction: column;
        align-items: center;
    }
    .company-icon .icn{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }
    .navbar .nav-right ul li:first-child{
        opacity: 1;
        visibility: visible;
    }
}















